.heading {
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: 15px;
}

.title > span {
    color: #7000a5;
}

.questions1-2 {
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.questions3-4 {
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.question5 {
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.questionCard {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.questionCard > * {
    padding: 5px;
}

.questionCard > select {
    padding: 3px;
}

.questionNumber {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #7000a5;
}

.question {
    font-weight: bold;
    font-size: 18px;
}


.submitButtonWrapper {
    text-align: center;
    margin: 15px;
    padding: 10px;
}

.submitButton {
    font-size: 20px;
}

.results {
    text-align: center;
    /* background-color: white; */
    padding: 15px;
    font-size: 20px;
}

.results > p {
    margin: 7px;
}

.hidden {
    display: none;
}

.correct {
    background-color: #86F099;
}

.incorrect {
    background-color: #ED4337;
}

#errorBox {
    text-align: center;
    color: white;
}

#errorText {
    background-color: #ED4337;
    font-size: 20px;
}
